<!DOCTYPE html>
<html>
  <head>
    <title>AngularJS Services</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.0/angular.min.js"></script>
    <script type="text/javascript" src="app1.js"></script>
    <script type="text/javascript" src="list/list.module.js"></script>
    <script type="text/javascript" src="post/post.module.js"></script>
    <script type="text/javascript" src="post/message.service.js"></script>
  </head>
  <body>
    <div ng-app="app1">
       <h1>App 1</h1>
       <h4>List Module</h4>
       <div ng-controller="ListCtrl as list">
           <p ng-repeat="message in list.messages">{{ message.id }}: {{ message.text }}</p>
       </div>
       <hr/>
       <h4>Post Module</h4>
       <div ng-controller="PostCtrl as post">
            <form ng-submit="post.addMessage(post.newMessage)">
                <input type="text" ng-model="post.newMessage">
                <button type="submit">Add Message</button>
            </form>
        </div>
    </div>
  </body>
</html>